/*
    1- common styles
        1.1 over-lay
        1.2 opacity hover
        1.3 section header
        1.4 section padding
        1.5 hover effect 1 ( left to right )
        1.6 hover effect 2 ( top to bottom )

    2- gneral styles

    3- sections
        3.0 header section
        3.1 home section
        3.2 about section
        3.3 portfolio section
        3.4 services section
        3.5 prices section
        3.6 team section
        3.7 blog section
        3.8 contact section
        3.9 footer section
*/


/* 1-start common styles */

/*      1.1 start over-lay */
.over-lay {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.6);
}

/*      1.2 start hover-opacity */
.hover-opacity:hover {
    opacity:0.8;
    transition:opacity 0.5s
}



/*      1.4 start section padding */


                                                      /* start mix 1.5 + 1.6 */
/*
.ltr-effect,
.ttb-effect {
    position: relative;
}

.ltr-effect:after,
.ttb-effect:after {
    position:absolute;
    content:"";
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.7);
    z-index:-1;
    transition:width .7s , height .7s;
}

.ltr-effect:after {width:0;}

.ltr-effect:hover:after {width:100%}


.ttb-effect:after {height:0;}

.ttb-effect:hover:after {height:100%}
*/                                                      /* end mix 1.5 + 1.6 */



/*      1.5 start hover effect 1 ( left to right ) */

.ltr-effect {
    position: relative;
}

.ltr-effect:after {
    position:absolute;
    content:"";
    width:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    z-index:-1;
    transition:width .7s;
}

.ltr-effect:hover:after {
    width:100%
}



/*      1.6 start hover effect 2 ( top to bottom ) */

.ttb-effect {
    position: relative;
}

.ttb-effect:after {
    position:absolute;
    content:"";
    width:100%;
    height:0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    z-index:-1;
    transition:height .7s;
}

.ttb-effect:hover:after {height:100%}



/* 2-start general styles */
* {margin:0; padding:0; box-sizing:border-box}

.container {width:80%; margin:auto}

body { font-family :'varela round', sans-serif}

.clearfix {clear:both}

h1 h2 h3 h4 h5 h6 {font-family: montserrat,sans-serif;}

button {font-family: inherit;}      /* === body { font-family :'varela round', sans-serif} */

a {text-decoration:none}

.pd-y {padding:120px 0}

.section-header {
    text-align:center;
}

.section-header .section-title {
    font-weight:bold;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom:10px
}

.section-header .line {
    display: block;
    background-color:#6195ff;
    width:60px;
    height:5px;
    margin: 0 auto 70px auto
}



.position-fixed-siction i {
    position:fixed;
    right:0;
    bottom:0;
    background-color: #6195ff;
    width:40px;
    height:40px;
    color:#fff;
    padding: 14px 30px 5px 18px;
    border-radius:6px;
    font-size:10px;
}




/* 3-start sections styles */

/*    3.0-start header section */
.header {
    position:fixed;
    width:100%;
    z-index:11;
    background-color:rgba(0,0,0,.5);
}


.header .logo {
    width:40%;
    float:left;
}

.header .logo img {width:20%; margin-top:10px}

.header .nav {
    width:60%;
    float:left;
    list-style:none;
    text-align:right
}

.header .nav > li {
    display:inline-block;
    text-align:right
}

.header .nav > li > a {
    color:#fff;
    font-size:15px;
    padding:30px 15px;
    display:block
}

.header .nav > li > a.active:after,
.header .nav > li > a:after {
    content:"";
    display:block;
    margin-top:2px;
    height:3px;
    background-color:#6195ff;
    transition: width 0.5s
}

.header .nav > li > a.active:after {width:100%}

.header .nav > li > a:after {width:0}

.header .nav > li > a:hover:after {width:100%}

.header .nav .dropdown {
    position: relative;
}

.header .nav .dropdown-menu {
    position: absolute;
    background-color: #6195ff;
    list-style: none;
    width:150px;
    text-align:center;
    left:-50%;
    top:70%;
    opacity:0;
    visibility: hidden;
    transition: opacity 0.6s
}

.dropdown:hover .dropdown-menu {
    opacity:1;
    visibility: visible;
}

.header .nav .dropdown-menu a {
    color:#fff;
    padding:10px;
    display: block;
}



/*     3.1 start home section */
.home {
    height:100vh;
    background-image:url(../images/background/background1.webp);
    background-size:cover;
    position:relative;
}

.home-content {
    position:absolute;
    width:56%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

.home .title {
    color:#fff;
    font-size:3.5rem;
    text-transform:uppercase
}

.home-desc {
    margin: 20px 0;
    color:#fff;
    letter-spacing:2px;
    line-height:1.5
}

.home .btn {
    min-width:160px;
    padding:15px 0;
    border-radius:5px;
    border:1px solid #ccc;
    cursor:pointer;
    font-size:18px;
}

.home .btn-start {
    margin-right:8px;
    background-color:#fff
}

.home .btn-learn {
    background-color:#6195ff;
    color:#fff
}



/*     3.2 start about section */
.about-content {
    overflow:hidden;
}

.about-item {
    width:30%;
    float:left;
    text-align:center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px
}

.about-item:hover .about-item-title {color:#fff}

.about-item.mg {margin: 0 5%}

.about-item .icon {
    color:#6195ff;
    font-size:35px;
    margin-bottom:15px
}

.about-item-title {
    text-transform:capitalize;
    margin-bottom:10px;
    transition:color .5s
}

.about-item-desc {
    margin-bottom:10px;
    color:#999;
    line-height:1.6
}

.about-item-link {color:#6195ff; text-transform:capitalize}



/*     3.3 start portfolio section */
.portfolio {background-color:#f9f9f9}

.portfolio-content {overflow:hidden}

.portfolio-item {
    width:32%;
    float:left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
    transition:opacity 0.5s
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.layer-content .layer-info {
    position:absolute;
    left:50%;
    top:50%;
    width:80%;
    text-align:center;
    transform:translate(-50% , -50%)
}

.layer-content .category {
    display: block;
    color:#6195ff;
    margin-bottom: 5px;
    position:relative;
    top:10px;
    transition:top 0.6s, opacity 0.6s;
    transition-delay: 0.1s
}

.layer-content-title {
    color:#fff;
    font-size:20px;
    margin-bottom: 5px;
    position:relative;
    top:10px;
    transition:top 0.6s, opacity 0.6s;
    transition-delay: 0.2s
}

.layer-content .layer-info a {
    color:#fff;
    position:relative;
    top:10px;
    transition:top 0.6s, opacity 0.6s;
    transition-delay: 0.3s
}

.layer-content .layer-info a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background-color: #6195ff;
}

.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content .layer-info a {
    top:0
}

.portfolio-item.mg {margin:0 2%}

.portfolio-item img {width:100%}



/*         3.4 start offer section */
.offer-content {overflow:hidden}

.offer-item {
    width:30%;
    float:left;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    padding:30px 15px 30px 70px;
    position:relative
}

.offer-item:hover .offer-title {color:#fff}

.offer-item.mg {margin:0 5%}

.offer-item i {
    position:absolute;
    top: 35px;
    left:15px;
    color:#6195ff
}

.offer-title {
    margin-bottom: 15px;
    text-transform:capitalize;
    transition:color 0.7s
}

.offer-desc {
    color:#999;
    line-height:1.4
}



/*         3.5 start services section */
.service {background-color:#f9f9f9}

.service-item {
    width:50%;
    float:left
}

.service .section-header {text-align:left}

.service-item .section-header .line {
    margin: 0 0 40px 0
}

.service-item-desc {
    padding-right:20px;
    color:#999;
    line-height:1.5;
    font-size:17px;
    margin-bottom:20px
}

.service-list {list-style: none;}

.service-list li {margin-bottom:10px; color:#999}

.service-list li i {
    border:1px solid #6195ff;
    color:#6195ff;
    width:30px;
    height:30px;
    padding:7px;
    border-radius:50%;
    margin-right: 5px;
}

.service-item-img img {width:100%; height:100%}

.service-bollets {list-style:none; text-align: center;}

.service-bollets li {
    width:10px;
    height:10px;
    display:inline-block;
    background-color: #e8e8e8;
    margin:10px 5px;
    border-radius:50%
}

.service-bollets li.active,
.service-bollets li:hover {
    background-color: #6195ff;
}



/*      3.6 start numbers section */
.numbers {
    position:relative;
    background-image: url(../images/background/background2.webp);
    background-size:cover;
    background-attachment:fixed;
    height:300px
}

.numbers-items {overflow:hidden}

.numbers-item {
    float:left;
    width:25%;
    padding-top: 100px;
    text-align:center
}

.numbers-item .icon {
    color:#6195ff;
    margin-bottom: 15px;
}

.mubers-item-title {
    font-weight: bold;
    font-size: 30px;
    color:#fff;
}

.numbers-item-text {
    color:#fff
}



/*      3.6 start pricing section */
.pricing-plans {overflow:hidden}

.pricing-item {
    float:left;
    width:30%;
    text-align:center;
    padding: 40px 15px;
    border:1px solid #e8e8e8
}

.pricing-item.mg {margin: 0 5%;}

.pricing-item-text {
    color:#999;
    display:block;
    margin-bottom:20px;
    text-transform: uppercase;
    font-size:17px;
    transition:color .7s
}

.pricing-item:hover .pricing-item-text {color:#6195ff}

.pricing-item-permonth {
    width:150px;
    height:150px;
    margin:20px auto;
    border:3px solid #6195ff;
    border-radius:50%;
    padding:35px 0;
    transition:color .7s
}

.pricing-item:hover .pricing-item-permonth {color:#fff}

.pricing-item-permonth .doller {font-size:50px}

.pricing-item-permonth .month {
    font-weight:bold;
    font-size:15px;
    text-transform: uppercase
}

.pricing-list {list-style: none; margin-bottom: 25px;}

.pricing-list li {
    color:#999;
    line-height:1.6;
    text-transform: capitalize;
}

.pricing-item-purchase {
    background:none;
    border:0;
    display:block;
    width:140px;
    border:3px solid #6195ff;
    padding:10px;
    margin:15px auto 0 auto;
    color:#6195ff
}



/*      3.7 start testimonial section */
.testimonial {
    position:relative;
    background-image: url(../images/background/background3.webp);
    background-size:cover;
    background-attachment:fixed;
    height:400px;
}

.testimonial-content {
    overflow: hidden;
    padding: 120px 0;
    width:80%;
    margin: 0 auto
}

.testimonial-item {
    float:left;
    width:50%;
    color:#fff
}

.testimonial-toplayer {
    padding:10px 2px 40px 100px;
    position: relative;
}

.testimonial-toplayer img {
    position:absolute;
    top:10px;
    left:10px;
    border-radius:50%;
}

.testimonial-toplayer h2 {
    margin: 5px 0;
}

.testimonial-toplayer span {
    color:#6195ff
}

.testimonial-desc {
    line-height:1.5;
    font-size: 17px;
    padding-right: 20px;
}



/*      3.8 start team section */
.team-content {overflow:hidden}

.team-item {
    float:left;
    width:30%;
    background-color:#ccc;
    padding:40px 10px;
    text-align:center
}

.team-item.mg {margin:0 5%}

.team-img {
    width:90%;
    margin:auto;
    position:relative
}

.team-img img {
    width:100%;
}

.team-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.5);
    visibility: hidden;
    opacity:0;
    transition: opacity .8s
}

.team-item:hover .team-overlay {
    opacity:1;
    visibility: visible
}

.team-item.ttb-effect {z-index: 1;}

.team-overlay a {
    display: block;
    width:40px;
    height:40px;
    background-color:#6195ff;
    color:#fff;
    margin-left:auto;
}

.team-overlay a i {
    line-height:40px
}

.team-info-title {
    color:#222;
    margin-bottom: 10px;
    transition: color .7s;
}

.team-info-text {
    color:#999;
    text-transform: uppercase;
    font-size:14px;
    transition: color .7s
}

.team-item:hover .team-info-title {
    color:#fff;
}

.team-item:hover .team-info-text {
    color:#6195ff;
}



/*      3.9 start blog section */
.blog {background-color: #e8e8e8;}

.blog-content {overflow:hidden}

.blog-item {
    float:left;
    width:30%
}

.blog-item.mg {margin:0 5%}

.blog-img img {width:100%; height:100%}

.blog-info {padding:20px 10px 40px 10px; background-color:#fff;}

.blog-list {list-style: none;}

.blog-list li i {color:#6195ff}

.blog-list li {
    display: inline-block;
    margin-right:15px;
    color:#222;
    margin-bottom: 20px;
}

.blog-item-title {margin-bottom:18px; font-size: 22px;}

.blog-item-desc {
    line-height:1.5;
    color:#999;
    margin-bottom: 10px
}

.blog-item-link {text-transform:capitalize; color:#6195ff}



/*      3.10 start about form section */
.about-form-content {
    overflow:hidden;
    width:90%;
    margin:auto
}

.about-form-item {
    float:left;
    width:30%;
    text-align:center;
    margin-bottom: 40px
}

.about-form-item.mg {margin:0 5%;}

.about-form-item i {
    color:#6195ff;
    margin-bottom: 15px;
}

.about-form-title {
    font-weight:bold;
    margin-bottom:15px;
    text-transform:capitalize
}

.about-form-text {color:#999}

.about-form-info {
    width:70%;
    margin:auto
}

.about-form-top {margin-bottom:15px}

.about-form-top input {
    width:45%;
    padding:10px;
    background-color: #f9f9f9;
    border:none
}

.about-form-top input:focus {
    border-width: 1px 1px 3px 1px;
    border-style:solid;
    border-color:#6195ff #6195ff #6195ff #6195ff
}

.about-form-top input.mg {margin-right:9%;}

.about-form-info input[placeholder="Subject"] {
    display: block;
    width:100%;
    padding:10px;
    background-color: #f9f9f9;
    border:none;
    margin-bottom:15px
}

.about-form-info input[placeholder="Subject"]:focus {
    border-width: 1px 1px 3px 1px;
    border-style:solid;
    border-color:#6195ff #6195ff #6195ff #6195ff
}

.about-form-info textarea {
    display:block;
    background-color: #f9f9f9;
    width:100%;
    border:none;
    padding:20px;
    margin-bottom: 15px;
}

.about-form-info textarea:focus {
    border-width: 1px 1px 3px 1px;
    border-style:solid;
    border-color:#6195ff #6195ff #6195ff #6195ff
}

.about-form-info input[type="submit"] {
    display: block;
    width:180px;
    height:50px;
    margin: 0 auto;
    background-color: #6195ff;
    border:none;
    border-radius:5px;
    color:#fff;
    font-size: 17px;
    text-transform:capitalize
}



/*      3.11 start footer section */
.fotter {
    background-color: #191A1E;
    height:300px;
    text-align:center
}

.fotter img {margin:60px 0 30px }

.footer-list {
    list-style:none;
    margin-bottom:30px;
}

.footer-list li {
    display: inline-block;
    margin-right:10px;
    background-color: #6195ff;
    width:50px;
    height:50px;
    padding:15px 10px;
    border-radius:50%
}

.footer-list li i {
    color:#fff
}

.footer-desc {
    color:#fff;
    text-transform:uppercase
}

.footer-desc span {color:#6195ff}